[submodule "ext/toit-lightbug"]
	path = .vitepress/ext/toit-lightbug
	url = https://github.com/lightbug-io/toit-lightbug.git
[submodule "ext/toit-ide-tools"]
	path = .vitepress/ext/toit-ide-tools
	url = https://github.com/toitware/ide-tools
