.oapi {
}

.subheading {
    /* Matching the sub headings in automatic sections */
    font-size: 20px;
}

.customSectionBar {
    /* Matching the regular sections */
    border-left: 4px solid transparent;
}

.customSection {
    /* Matching the regular sections */
    padding: 1.5rem;
}
